@import url("./mocha.css");

* {
  font-family: "Maple Mono NF";
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 1rem 1rem;
  box-shadow: inset 0px 10px 5px rgba(0,0,0,0.2);
}

#custom-launcher {
  border-radius: 1rem;
  background-color: @surface0;
  color: @sapphire;
  margin: 5px 0.5rem 5px 0.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  box-shadow: 4px 2px 2px rgba(0,0,0,0.5);
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  /*margin-left: 1rem;*/
  box-shadow: 4px 2px 2px rgba(0,0,0,0.5);
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-lock {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  /*background: @surface0;*/
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  padding: 5px;
  /*margin: 5px 5px 5px 0px;*/
}

#status {
  background: @surface0;
  border-radius: 1rem;
  margin: 5px;
  box-shadow: 4px 2px 2px rgba(0,0,0,0.5);
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#custom-ddcutil {
  /*background: @surface0;*/
  color: @yellow;
  /*border-radius: 0px 0px 0px 0px;*/
  padding: 5px;
  /*margin: 5px 0px;*/
}

#battery {
  border-radius: 0;
}

#pulseaudio {
  /*background: @surface0;*/
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  padding: 5px;
  /*margin: 5px 0px 5px 5px;*/
}

#custom-polycat {
  font-family: "Polycat", "Maple Mono NF";
  background-color: @surface0;
  color: @maroon;
  border-radius: 1rem;
  margin: 5px 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 4px 2px 2px rgba(0,0,0,0.5);
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  margin-left: 1rem;
  border-radius: 1rem 0px 0px 1rem;
  color: @red;
  /*box-shadow: 2px 2px 2px rgba(0,0,0,0.5);*/
}
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0.5rem 5px 0.5rem;
  /*border-radius: 0px 1rem 1rem 0px;*/
  border-radius: 1rem;
  color: @red;
  box-shadow: 4px 2px 2px rgba(0,0,0,0.5);
}

#tray {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: @surface2;
  box-shadow: 4px 2px 2px rgba(0,0,0,0.5);
}

#workspaces button.urgent {
  color: @red;
}
